@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.5rem;
}

.post-content h2 {
  font-size: 1.4rem;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgba(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

* {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-style: normal;
}

a {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  color: inherit;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;

  .tiptap {
    height: 100%;
  }
}
